{% extends 'base.html.twig' %}
{% set header_title = 'Dodaj pola do szablonu ' ~ template.displayName %}
{% set header_back_link = path('template_list') %}
{% set header_back_link_title = 'Powró do listy szablonów' %}

{% block title %}Dodaj pola do szablonu {{ template.displayName }}{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_row(form.systemName) }}
    {{ form_row(form.displayName) }}
    {{ form_row(form.type) }}
    {{ form_row(form.is_required) }}
    {{ form_row(form.params) }}
    <button class="btn btn-primary">Zapisz</button>
{{ form_end(form) }}

{% endblock %}
