{% extends 'base.html.twig' %}

{% block title %}Edytuj wpis
{% endblock %}

{% block body %}
	<h1>Edytuj wpis ({{ entry.template.displayName }})</h1>
	<div id="dynamic-fields">
		{{ form_start(form) }}

		<label for="template-select">Zmień szablon:</label>
		<select id="template-select" name="selected_template_id" class="form-control mb-3">
			{% for tmpl in templates %}
				<option value="{{ tmpl.id }}" {{ tmpl.id == entry.template.id ? 'selected' : '' }}>
					{{ tmpl.displayName }}
				</option>
			{% endfor %}
		</select>

		{% for field in form %}
			{{ form_row(field) }}
		{% endfor %}

		<button class="btn btn-success mt-3" type="submit">Zapisz</button>
		{{ form_end(form) }}

	</div>

	<script src="{{ asset('js/dynamic-form.js') }}"></script>
	<script>
		window.entryFieldValues = {{ entry.entryFieldValues|json_encode|raw }};
	</script>
{% endblock %}

